* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Noto Sans KR';
    /* 위 속성값을 지정해주면 내가 지정한 width가 실제 사이즈로 들어감 */
    /* 지정해주지 않을 경우, 실제 사이즈는 width + border */

}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #000000;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7) 40%, rgb(69, 69, 69, 0.7))
        /*, url("../Resources/maze_symbol.webp") */
    ;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: None;
}








/* 로고 디자인 */

/* 
display: flex를 통해 수평정렬 
cursor: 마우스 올렸을때 커서 모양
transition: 해당 요소가 변경될때 걸리는 시간 조절
font-weight: 굵기
:hover: 마우스 올라갔을때 적용할 css
margin과 padding의 차이 = margin은 해당 요소와 밖 요소의 간격. padding은 내부 요소와 벽? 사이 간격.
*/

.logo {
    display: flex;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo h2 {
    color: #ffffff;
    font-weight: 700;
    transition: 0.7s ease
}

.logo:hover {
    transform: scale(1.01);
}

.logo:hover h2 {
    color: #BF2626;
}

.logo img {
    width: 90px;
    margin: auto;
}








/* 네비게이션 바 디자인 */
/* 
align-items: 요소 내부 아이템들 정렬(center, right 등)
justify-content: space-between -> margin과 padding을 고려해 같은 간격으로 아이템들이 있게 해줌
list-style: none -> 리스트 요소 처음에 붙는 기호 제거
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    margin-top: 20px;
}

.navbar h2 {
    color: #ffffff font-weight=600
}

.navbar ul {
    display: flex;
    margin: 0 10px
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
    font-weight: 600;
}

.navbar ul li:hover a {
    color: #BF2626;
}

.navbar ul li:last-child a {
    margin: 0;
}







/* 컨택트 버튼 */
/* 
border: 테두리
border-radius: 테두리 둥글게
*/

.contact-btn {
    background: #ebebeb;
    padding: 8px 20px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background: #BF2626;
}







/* 메인 디자인 */
/* 
height: 1000px를 통해 스크롤 내리면서 구경하는 느낌
flex-direction: column -> 수직 정렬
display: flex의 기능2 -> 이게 있음으로 인해 align-items, justify-content 적용 가능
margin: auto -> 가운데 정렬
*/

.main {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main img {
    width: 480px;
}

.main h1 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}

.main p {
    font-size: 16px;
    color: #ffffff;
}








/* 페이지 리스트 디자인 */
/* 
flex-wrap: nowrap -> 수평/ 수직 정렬된 요소들의 길이 총합이 부모요소의 길이를 넘으면 자동축소 
border: 1px solid transparent -> 1px 크기의 투명 테두리 추가
*/

.list {
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.list .item {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list .item:hover {
    border-color: #BF2626;
}

.list .item .icon {
    width: 50px;
    height: 50px;
    background: #919191;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.list .item:hover .icon {
    background: #BF2626;
}

.list .item .icon i {
    font-size: 32px;
}

.list .item .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list .item .info h3 {
    color: #BF2626;
    font-size: 24px;
}

.list .item .info p {
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
}

.list .item>i {
    color: #ffffff;
    font-size: 32px;
    transition: color 0.3s ease;
}

.list .item:hover>i {
    color: #BF2626;
}







.music_player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 300px;
}

.music_player .song-info {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin: 0 15px;
    padding: 15px 30px 5px 30px;
    border-radius: 15px 15px 0 0;
    align-items: center;
}

.music_player .song-info .song-name {
    color: #b9b9b9;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    margin: 2px 0 18px 0;
}

.music_player .song-info .progress-bar {
    display: block;
    width: 10rem;
    background-color: #6d6d6d;
    border-radius: 20px;
    cursor: pointer;
}

.music_player .song-info .progress-bar .fill-bar {
    display: block;
    width: 0;
    height: 6px;
    border-radius: 20px;
    background: #BF2626;
}

.music_player .song-info .time {
    font-size: 15px;
    color: #b9b9b9;
    margin: 10px 0 2px 0;
}

.music_player .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #9f9f9f;
    width: 245px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.music_player .controls #play {
    background-color: #BF2626;
    color: #ffffff;
    padding: 8px 7px 7px 8px;
    font-size: 12px;
    border-radius: 50%;
    transition: all 0.3s ease;
}


.music_player .controls #play:hover {
    background: #871b1b;
}

.music_player .controls i {
    padding: 30px 8px;
    font-size: 24px;
    cursor: pointer;
    color: #202020;
    transition: all 0.3s ease;
}

.music_player .controls i:hover {
    color: #871b1b;
}







/* 푸터 디자인 */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 10px;

}

footer .email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .team_name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    color: #ffffff;
    font-size: 16px;
}

footer a {
    color: #ababab;
    font-size: 12px;
}




/* 반응형 디자인 */
/* 
스크린 넓이가 (max-width: 넣고싶은 넓이) 이하일때 적용되는 css
flex-basis: flex요소 내부 아이템의 크기 지정
*/

@media screen and (max-width: 1100px) {
    .list {
        flex-wrap: wrap;
        gap: 10px
    }

    .list .item {
        flex-basis: 49%;
    }


}

@media screen and (max-width: 800px) {
    .navbar button {
        display: none;
    }

    .main h1 {
        font-size: 22px;

    }

    .main p {
        font-size: 12px;
    }

    .main img {
        width: 60%;
    }

    .list .item {
        flex-basis: 100%;
    }

    .navbar ul li a {
        font-size: 14px;
        font-weight: 500;
    }

    .main {
        margin-top: 50px;
        height: 500px;
        justify-content: start;
    }
}

/*
    css 파일에서는 한 줄 주석과 여러 줄 주석 구분 없이 이렇게..!
*/